@media print {
  .gantt.container .grid {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    min-height: 21px;
    overflow-x: auto;
    width: 20%;
    overflow-y: hidden;
  }
  .gantt.container .grid .indent {
    display: block;
    float: left;
    height: 10px;
    padding-right: 5px;
  }
  .gantt.container .grid .issue .field .field_value {
    padding-right: 10px;
  }
  .gantt.container .grid .issue div .switch {
    float: right;
    cursor: pointer;
    height: 12px;
    width: 12px;

    font-size: 12px;
    line-height: 14px;
  }
  .gantt.container .grid .issue .field.subject div .switch {
    background-image: url('/images/bullet_toggle_plus.png');
  }
  .gantt.container .grid .issue .field.subject.open div .switch {
    background-image: url('/images/bullet_toggle_minus.png');
  }
  .gantt.container .grid .issue .field form input {
    height: 20px;
  }
  .gantt.container .grid .issue .field form input:last-child {
    padding: 2px;
  }
  .gantt.container .grid .issue .field form select {
    height: 20px;
    line-height: 11px
  }
  .gantt.container .grid .issue .field form .submit_button {
    height: 12px;
  }
  .gantt.container .grid .issue {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    position: relative;
    width: 100vw;
  }
  .gantt.container .grid .issue:nth-child(even) { background-color: rgba(223, 204, 175, 0.37); }
  .gantt.container .grid .project_name {
    background-color: rgba(223, 204, 175, 0.37);
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .gantt.container .grid .version {
    position: relative;
    display: block;
  }
  .gantt.container .grid .heading {
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    border-bottom: 1px solid #dfccaf;
  }
  .gantt.container .grid .heading .split {
    min-height: 21px;
    box-sizing: border-box;
    overflow-x: hidden;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .gantt.container .split:hover,.gantt.container .split:focus,.gantt.container .split:active {
    cursor: col-resize;
  }
  .gantt.container .grid .heading .header {
    min-height: 21px;
    box-sizing: border-box;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: normal;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 3px;
    line-height: 1;
  }
  .gantt.container .chart {
    border-bottom: 1px solid #dfccaf;
  }
  .gantt.container .chart .heading .top{
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
  }
  .gantt.container .fixed_modal .modal_wrapper {
    z-index: 1000;
    left: 37%;
    position: fixed;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #DCDCDC;
    box-shadow: 0px 0px 4px #000000;
    padding: 5px;
    top: 10%;
    bottom: 10%;
  }
  .gantt.container .fixed_modal .modal_wrapper .values {
    display: grid;
    justify-items: left;
    overflow-y: auto;
    width: 100%;
    height: 96%;
  }
  .gantt.container .fixed_modal .background {
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .gantt.container .chart .heading .header {
    min-height: 21px;
    box-sizing: border-box;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: normal;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .grid .field {
    min-height: 21px;
    box-sizing: content-box;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: normal;
    flex-shrink: 0;
    flex-grow: 0;
    border-right-width: 2px;
    border-right-color: #dfccaf;
    border-right-style: dotted;
    padding: 0 3px;
  }
  .gantt.container .border {
    display: block;
    height: 100px;
    width: 4px;
    box-sizing: border-box;
    background-color: rgba(0, 158, 224, 0.17);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1;
  }
  .gantt.container .border:hover,.gantt.container .border:focus,.gantt.container .border:active {
    cursor: col-resize;
  }
  .gantt.container .chart {
    display: inline-block;
  }
  .gantt.container .chart:after {
    clear: both;
  }
  .gantt.container .chart .diagram.item {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    min-height: 10px;
    min-width: 10px;
    background-color: black;
  }
  .chart {
    width: 70%;
    position: relative;
    overflow-x: auto;
  }
  .chart .item {
    position: relative;
    min-height: 15px;
  }
  .chart .item:nth-child(even) {
    background-color: rgba(223, 204, 175, 0.37);
    width: 100vw;
  }
  .chart .item .worktime {
    min-height: 11px;
    top: 4px;
    position: absolute;
    box-sizing: border-box;
  }
  .chart .item .calculated {
    min-height: 19px;
    top: 1px;
    position: absolute;
    box-sizing: border-box;
  }
  .chart .item .calculated .entry {
    top: 0px;
    box-sizing: border-box;
    background-color: yellow;
    bottom: 0px;
    background-color: yellow;
    position: absolute;
  }
  .chart .item .worktime .entry.work {
    top: 0px;
    box-sizing: border-box;
    background-color: green;
    height: 10px;
    position: absolute;
  }
  .chart .item .worktime .entry.new {
    top: 0px;
    box-sizing: border-box;
    background-color: red;
    height: 10px;
    position: absolute;
  }
  .chart .item .worktime .entry.closed {
    top: 0px;
    box-sizing: border-box;
    background-color: blue;
    height: 10px;
    position: absolute;
  }

  .easy-content-page {
    padding: 10px;
  }
  .gantt.container .header {
    margin-bottom: 10px;
  }
  .gantt.container .header div {
    display: block;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }
  .gantt.container .header div .zoom {
    grid-column: 1;
    grid-row: 1 / 2;
  }
  .gantt.container .header div .settings {
    grid-column: 2;
    grid-row: 1 / 2;
  }
  .gantt.container .header div .settings * {
    display: block;
    float: right;
  }
  .gantt.container .header div .zoom form div {
    display: grid;
    grid-template-columns: 260px 20px 260px;
    grid-template-rows: 30px 30px;
  }
  .gantt.container .header div .zoom form div #available_columns {
    grid-column: 1;
    grid-row: 1 / 3;
    font-size: 11px;
  }

  .gantt.container .header div .zoom form div #column_names {
    grid-column: 3;
    grid-row: 1 / 3;
    font-size: 11px;
  }
  .gantt.container .header div .zoom form div div {
    padding-top: 2px;
    padding-left: 3px;
  }
  .gantt.container .header div .zoom form div button {
    width: 30px;
    height: 15px;
    left: 5px;
    padding: 0 4px;
  }
  .gantt.container .header div .zoom form div div:hover {
    cursor: pointer;
  }
  .gantt.container .menu {
    position: absolute;
    right: 10px;
    top: 44px;
  }
  .gantt.container .header div form .renew-button {
    height: 25px;
    font-size: 11px;
    line-height: 10px;
    margin-right: 10px;
  }
  .gantt.container .header div .settings select {
    float: right;
    font-size: 11px;
    height: 25px;
  }
  .gantt.container .gantt_main {
    display: flex;
    flex-flow: row nowrap;
    min-height: 720px;
    border: 1px solid #dfccaf;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 2px;
  }
  .gantt.container .grid .issue .field .edit_img {
    visibility: hidden;
    cursor: pointer;
  }
  .gantt.container .grid .issue:hover .field .edit_img {
    visibility: visible;
  }
  .gantt.container .grid .heading .header {
    position: relative;
    padding: 0 2px;
    text-align: center;
  }
  .gantt.container .grid .heading .header .header_text {
    display: inline-block;
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    text-align: center;
  }
  .gantt.container .grid .heading .header .filter {
    position: absolute;
    top: 0;
    right: -5px;
  }
  .gantt.container .grid .heading .header .filter img {
    margin-right: 2px;
    cursor: pointer;
  }
  .gantt.container .grid .heading .header .filter.avail {
    background: red;
    position: relative;
  }
  .gantt.container .grid .heading .header .filter.avail img {
    margin-right: 2px;
    cursor: pointer;

    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
  }
  .gantt.container .header div .zoom form div *::-webkit-scrollbar {
    width: 4px;
    height: 3px;
  }
  .gantt.container .grid .issue .field .indent {
  }
  .gantt.container .grid .issue .field .indent:nth-last-of-type(1) {
    padding-right: 6px;
  }
  .gantt.container .chart .heading .top .header {
    line-height: 20px;
    font-size: 10px;
    cursor: pointer;
    border-left: 2px solid #dfccaf;
    text-align: center;
    font-weight: bold;
  }
  .gantt.container .menu form input.button-2 {
    height: 25px;
    font-size: 11px;
    line-height: 11px;
  }
  .gantt.container .footer {
    padding-top: 10px;
  }
  .gantt.container .footer .button-2 {
    margin-right: 10px;
    min-height: 12px;
    font-size: 11px;
    line-height: 11px;
  }
  #header, #ajax-indicator, .menu, .gantt_main.border, .gantt_main.chart, .filter, .edit_img { display: none;  }
}


